@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4" style="justify-content:flex-start">
        <span>Email and Remainder Notifications from Blazor Scheduler</span>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
